
.pie{
width: 500px;
height: 500px;
border: 1px solid black;
border-radius: 50%;
background-color:white;
background-image:conic-gradient(yellow 0% 25%, green 25% 50%, blue 50% 75%, red 75% 100%);



  }
